.col-form-label{
    font-weight: bold;
}

.iconmenu{
    margin-left: 120px;
    border-color: #f5f5f5;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

.top{
    background-color: black;
}

#formulario{
    padding: 15px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: #f5f5f5;
}

#tabela{
    padding: 15px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.jumbotron{
    background-color: #f5f5f5;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    border: 2px;
    border-color: #222529;
    border-style: solid;
    border-radius: 10px;
    margin-top: 2%;
    padding-top: 10px;
    line-height: 1.2;
    font-weight: bold;
}

td, th{
    line-height: 2.4;
    text-align: center;
}

.containermain{
    margin: 2%;
}

.bi-plus-lg, .bi-search{
    margin: 4px;
    line-height: .6;
}


#senac{
    background-color: #222529;
    font-family: 'Roboto Slab';
    font-size:15px;
    color: #f5f5f5;
    border-color: #f5f5f5;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    line-height: 1.2;
}

#bottom{
    background-color: black;
}

h3{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: xx-large;
}

h2{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: xx-large;
    line-height: 2.2;
}

.middle{
    background-image: url("../img/bubble.png");
    background-repeat: repeat;
}

a {
    font-size: larger;
    font-weight: bold;
}